<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aero.cubox.api.deptemp.mapper.CardMapper">
    <select id="getCardList" resultType="aero.cubox.api.domain.entity.Card">
        SELECT C.*
        FROM T_CARD C
        WHERE C.updated_at > #{lastSyncDt}
          OR (C.updated_at = #{lastSyncDt} AND C.card_no > #{lastSyncCardNo})
        ORDER BY C.updated_at ASC, C.card_no ASC
        LIMIT #{pageSize}
    </select>

</mapper>