<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aero.cubox.api.deptemp.mapper.EmpMapper">
    <select id="getEmpList" resultType="aero.cubox.api.sync.vo.EmpVo">
        SELECT E.*, F.feature, F.feature_mask
        FROM T_EMP E
            JOIN T_FACE_FEATURE F ON E.face_id = F.face_id AND F.face_feature_typ = #{featureTyp}
        WHERE E.updated_at > #{lastSyncDt}
          OR (E.updated_at = #{lastSyncDt} AND  E.emp_cd > #{lastSyncEmpCd})
        ORDER BY E.updated_at ASC, E.emp_cd ASC
        LIMIT #{pageSize}
    </select>

    <insert id="insertEmp" parameterType="aero.cubox.api.domain.entity.Emp" >
        INSERT
        INTO T_EMP
        (
            emp_cd
        , emp_nm
        , dept_cd
        , dept_nm
        , instt_cd
        , instt_nm
        , belong_nm
        , card_class_typ
        , card_state_typ
        , face_id
        ,expired_dt
        ,mdm_dt
        ,delete_yn
        ,deleted_at
        ,created_at
        ,updated_at
        )
        VALUES(
                  #{empCd}
              , #{empNm}
              , #{deptCd}
              , #{deptNm}
              , #{insttCd}
              , #{insttNm}
              , #{belongNm}
              , #{cardClassTyp}
              , #{cardStateTyp}
              , ifnull(#{faceId}, '0')
              ,#{expiredDt}
              ,#{mdmDt}
              ,'N'
              ,#{deletedAt}
              ,#{createdAt}
              ,#{updatedAt}

              )
    </insert>


    <update id="updateEmp" parameterType="aero.cubox.api.domain.entity.Emp" >
        UPDATE
            T_EMP
        SET
            emp_cd = #{empCd}
          , emp_nm = #{empNm}
          , dept_cd =#{deptCd}
          , dept_nm = #{deptNm}
          , instt_cd =#{insttCd}
          , instt_nm =#{insttNm}
          , belong_nm =#{belongNm}
          , card_class_typ =#{cardClassTyp}
          , card_state_typ =#{cardStateTyp}
          , face_id = ifnull(#{faceId}, '0')
          ,expired_dt =#{expiredDt}
          ,mdm_dt =#{mdmDt}
          ,delete_yn =#{deleteYn}
          ,deleted_at =#{deletedAt}
          ,created_at =#{createdAt}
          ,updated_at =#{updatedAt}
        WHERE
            id = #{id}
    </update>

</mapper>