<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aero.cubox.api.deptemp.mapper.FaceMapper">

    <select id="getFace" resultType="aero.cubox.api.domain.entity.Face">
        SELECT face_img FROM T_FACE
        WHERE id = ${id}
        ORDER BY  created_at DESC
        LIMIT 1
    </select>


    <select id="getFaceFeatureMasknull" resultType="aero.cubox.api.domain.entity.Face">
        select face_img FROM T_FACE f
         join T_FACE_FEATURE ff on f.id =ff.face_id and ff.face_feature_typ = 'FFT003' and ff.feature_mask is null
        limit 100
    </select>

    <select id="getFaceInfoByEmpCd" resultType="aero.cubox.api.domain.entity.Face">
        SELECT id FROM T_FACE
        WHERE emp_cd = #{empCd}
        AND FACE_STATE_TYP = 'FST002'
        ORDER BY id DESC
            LIMIT 1
    </select>

    <select id="getFaceAllInfoByEmpCd" resultType="aero.cubox.api.domain.entity.Face">
        SELECT id FROM T_FACE
        WHERE emp_cd = #{empCd}
    </select>

    <update id="updateFaceEmpCd" parameterType="aero.cubox.api.domain.entity.Face" >
        UPDATE
            T_FACE
        SET
            emp_cd = #{empCd}
          ,updated_at = now(6)
        WHERE
            id = #{id}
    </update>

</mapper>