<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aero.cubox.api.face.mapper.FaceMapper">

	<insert id="insertFace" parameterType="map">
		INSERT INTO T_FACE
			(emp_cd, face_img, emp_id, face_state_typ, created_at, updated_at)
		VALUES
			(#{emp_cd}, #{face_img, jdbcType=BLOB}, #{emp_id}, #{face_state_typ}, current_timestamp(6),current_timestamp(6))
	</insert>


	<resultMap id="aaa" type="hashMap">
		<result property="face_img" column="face_img" jdbcType="BLOB" javaType="[B"/>
	</resultMap>

	<select id="getFace001" parameterType="java.util.Map" resultMap="aaa">
		select id as face_id, emp_cd, face_img FROM T_FACE
		where face_state_typ ='FST001'
	</select>

	<insert id="insertFaceFeature" parameterType="map">
		INSERT INTO T_FACE_FEATURE
			(face_id, emp_cd, face_feature_typ, feature, created_at, updated_at)
		VALUES
			(#{face_id} ,#{emp_cd}, #{face_feature_typ}, #{feature}, current_timestamp(6), current_timestamp(6))
	</insert>

	<insert id="insertFaceFeatureErr" parameterType="map">
		INSERT INTO T_FACE_FEATURE_ERR
			(face_id, emp_cd, face_feature_typ, error, created_at)
		VALUES
			(#{face_id} ,#{emp_cd}, #{face_feature_typ}, #{error}, current_timestamp(6))
	</insert>

	<update id="updateFace" parameterType="map">
		UPDATE T_FACE
		SET face_state_typ = #{face_state_typ},
			updated_at =current_timestamp(6)
		WHERE id = #{face_id}
	</update>

	<select id="getFaceIdByEmpCd" resultType="map">
		SELECT face_id FROM T_FACE where emp_cd = #{emp_cd} order by id desc limit 1
	</select>

</mapper>