<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aero.cubox.api.mdm.mapper.MdmMapper">

	<select id="getMdmInsttRcv" resultType="map">
		SELECT cntc_sn,
			   instt_code AS instt_cd,
			   instt_nm,
			   lowest_instt_code AS dept_cd,
			   lowest_instt_nm AS dept_nm,
			   process_yn_mdmsjsc,
			   DECODE(instt_code, lowest_instt_code, 'Y', 'N') AS instt_yn
		FROM   TI_CMN_INSTT_RCV
		WHERE process_yn_mdmsjsc = 'N'
		ORDER BY lowest_instt_code
		LIMIT 1000
	</select>


	<update id="updateMdmInsttRcv" parameterType="map">
		UPDATE TI_CMN_INSTT_RCV
		SET process_yn_mdmsjsc = 'Y'
		WHERE cntc_sn = #{cntc_sn}
	</update>

	<sql id="card_state_typ">
	case
	when em.card_se in ('07','08') then
		case when em.card_sttus_se = '02' then 'CST002'
			when em.card_sttus_se = '04' then 'CST003'
			when em.card_sttus_se = '05' then 'CST004'
		end
	when em.card_se = '04' then
		case when em.card_sttus_se = '04' then 'CST002'
			when em.card_sttus_se = '06' then 'CST003'
			when em.card_sttus_se = '07' then 'CST004'
			when em.card_sttus_se = '11' then 'CST005'
		end
	when em.card_se = '05' then
		case when em.card_sttus_se = '02' then 'CST002'
			when em.card_sttus_se = '04' then 'CST003'
			when em.card_sttus_se = '06' then 'CST001'
		end
	when em.card_se in ( '01', '02', '03', '11' ) then
		case when em.card_sttus_se = '01' then 'CST002'
			when em.card_sttus_se = '02' then 'CST005'
			when em.card_sttus_se = '03' then 'CST004'
			when em.card_sttus_se = '04' then 'CST006'
		end
	end
	</sql>

	<!-- mdm 일반출입증조회 -->
	<select id="getMdmTcEmCgpn" resultType="map">
		SELECT
			em.hr_no as emp_cd,
			em.gvrn_gbd_code,
			dep.instt_code as instt_cd,
			dep.instt_nm,
			em.dept_code as dept_cd,
			dep.lowest_instt_nm as dept_nm,
            em.cgpn_nm as emp_nm,
            em.psitn_nm as belong_nm,
            em.card_se as card_class_typ,
            em.issu_no as card_no,
			<include refid="card_state_typ"/> as card_state_typ,
			em.card_sttus_se,
            em.cmg_begin_dt as beg_dt,
            em.cmg_end_dt as end_dt,
			em.cmg_end_dt as expired_dt,
            em.recptn_info_applc_sttus_code,
            em.data_applc_dt,
            em.creat_dt as mdm_dt,
            em.process_yn_mdmsjsc,
            em.gbd_intrlck1,
            em.gbd_intrlck2,
            em.gbd_intrlck3,
            em.gbd_intrlck4
		FROM TC_EM_CGPN em
		 LEFT OUTER JOIN TI_CMN_INSTT_RCV dep on em.dept_code  = dep.lowest_instt_code
		WHERE (em.card_se = '04' AND em.process_yn_mdmsjsc = 'N' AND em.gbd_intrlck1='Y')
		   OR (em.card_se = '05' AND em.process_yn_mdmsjsc = 'N' AND em.gvrn_gbd_code = '05')
		ORDER BY em.creat_dt ASC, em.hr_no ASC
		LIMIT 500
	</select>

	<update id="updateMdmTcEmCgpn" parameterType="map">
		UPDATE TC_EM_CGPN
		SET process_yn_mdmsjsc = 'Y'
		WHERE hr_no = #{emp_cd}
		AND creat_dt = #{mdm_dt}
	</update>

	<!-- mdm 공무원증조회 -->
	<select id="getMdmTcEmPbsvnt" resultType="map">
		SELECT
			   em.hr_no as emp_cd,
			   em.gvrn_gbd_code,
			   dep.instt_code as instt_cd,
			   dep.instt_nm,
			   em.dept_code as dept_cd,
			   dep.lowest_instt_nm as dept_nm,
			   em.cgpn_nm as emp_nm,
			   em.psitn_nm as belong_nm,
			   em.card_se as card_class_typ,
			   em.issu_no as card_no,
			   <include refid="card_state_typ"/> as card_state_typ,
		       em.card_sttus_se,
			   em.cmg_begin_dt as beg_dt,
			   em.cmg_end_dt as end_dt,
			   em.cmg_end_dt as expired_dt,
			   em.recptn_info_applc_sttus_code,
			   em.data_applc_dt,
			   em.creat_dt as mdm_dt,
			   em.process_yn_mdmsjsc,
			   em.gbd_intrlck1,
			   em.gbd_intrlck2,
			   em.gbd_intrlck3,
			   em.gbd_intrlck4
		FROM TC_EM_PBSVNT em
		 LEFT OUTER JOIN TI_CMN_INSTT_RCV dep on em.dept_code  = dep.lowest_instt_code
		WHERE em.process_yn_mdmsjsc = 'N'
		  AND em.gbd_intrlck1 = 'Y'
		ORDER BY em.creat_dt ASC, em.hr_no ASC
		LIMIT 500
	</select>

	<update id="updateMdmTcEmPbsvnt" parameterType="map">
		UPDATE TC_EM_PBSVNT
		SET process_yn_mdmsjsc = 'Y'
		WHERE hr_no = #{emp_cd}
		  AND creat_dt = #{mdm_dt}
	</update>

	<!-- mdm 방문증조회 -->
	<select id="getMdmTcEmVisit" resultType="map">
		SELECT
			   em.hr_no as emp_cd,
			   em.gvrn_gbd_code,
			   dep.instt_code as instt_cd,
			   dep.instt_nm,
			   em.dept_code as dept_cd,
			   dep.lowest_instt_nm as dept_nm,
			   em.cgpn_nm as emp_nm,
			   em.psitn_nm as belong_nm,
			   em.card_se as card_class_typ,
			   em.issu_no as card_no,
			   <include refid="card_state_typ"/> as card_state_typ,
			   em.card_sttus_se,
			   em.cmg_begin_dt as beg_dt,
			   em.cmg_end_dt as end_dt,
			   em.cmg_end_dt as expired_dt,
			   em.recptn_info_applc_sttus_code,
			   em.data_applc_dt,
			   em.creat_dt as mdm_dt,
			   em.process_yn_mdmsjsc
		FROM TC_EM_VISIT em
		LEFT OUTER JOIN TI_CMN_INSTT_RCV dep on em.dept_code  = dep.lowest_instt_code
		WHERE em.process_yn_mdmsjsc = 'N'
		ORDER BY em.creat_dt ASC, em.hr_no ASC
		LIMIT 500
	</select>
	<update id="updateMdmTcEmVisit" parameterType="map">
		UPDATE TC_EM_VISIT
		SET process_yn_mdmsjsc = 'Y'
		WHERE hr_no = #{emp_cd}
		  AND creat_dt = #{mdm_dt}
	</update>
</mapper>